#main {
	padding-top: 70px;
	font-family: sans-serif;
	padding-right: 15px;
}

#playlist{
	margin-top: 20px;
}

#user{
	margin-top: 20px;
}

#create{
	margin-top: 100px;
}

#create button{
	width: 300px;
}

.modal-title{
	color: grey;
}

h1{
	color: #0f0f33;
	margin-bottom: 50px;
}

#logo{
	max-width: 45px;
	max-height: 45px;
}

div.sample{
	display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

div.thumbnail{
	width: 300px;
	height: 380px;
}
 

.modal-body {
	max-height: 20em;
	overflow-y: scroll;
}

.modal-dialog {
	margin: 10% auto !important;
}

.aside {
	position: fixed;
	overflow-y: scroll;
	height: 100%;
	margin-top: 50px;
	background: #2b333d;
	padding-left: 15px;
}

/*#genre_ed_alb{
	overflow-y: scroll;
	max-height: 300px;
}*/

#nav{
	width: 100%;
	padding-left: 0px;
}

h4{
	color: lightgrey;
}

.related_to h4{
	color: grey;
}

.aside li{
	margin: 10px;
	list-style: none;
}
.aside li span{
	margin-right: 5px;
}

.aside a{
	text-decoration: none;
	color: lightgrey;
}

.aside a:hover{
	color: white;
}

div.listed{
	display: flex;
	margin: 0px;
	padding: 0px;
}

img{
	width: 220px;
	height: 220px;
}

.inner-item {
	text-align: center;
}

#carousel-example-generic{
	background:linear-gradient(0deg, #0099CC , black);
}

.carousel-caption {
	text-shadow:  1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

.carousel-caption > p {
	font-size: 130%;
}

.carousel-caption > h3 {
	font-size: 170%;
}

#carousel-example-generic{
	width: 60%;
	margin-left: 20%;
}

.jumbotron{
	text-align: center;
}

.error{
	color: red;
}
#back{
	position: fixed;
}
#back {
    position: fixed;
	opacity: 0;
	visibility: hidden;
	overflow: hidden;
	background-color: #000000;
    width: 30px;
	height: 30px;
	right: 17px;
	bottom: 17px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	text-align: center;
	}

#back:hover {
	background-color: #2F4F4F;
}
#back.show {
    visibility:visible;
    cursor:pointer;
	opacity: 10;
}
