{% extends "base.html" %}
{% block main %}
	<div class="jumbotron">
		  <h1>Albums</h1>
	</div>
	<br>
	<br>
	<div class="related_to">
		{% for x in albums %}
			<div class="col-md-4">
				<div class="thumbnail col-md-offset-2">
					<a href="/album/{{ x.id }}">
					{% if x.img != None %}
						<img src="{{ url_for('static',filename='images/images/'+x.img) }}"></a>
					{% else %}
						<img src="../static/images/untitled-1.png"></a>
					{% endif %}
					<div class="caption">
						<h3>{{ x.title }}</h3>
						<p>{{ x.release_year }}</p>
						{% for g in x.genre %}
						<a href="/genre/{{ x.id }}"><span class="label label-info">{{ g.name }}</span></a>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endfor %}
		<!-- <div ">
				<a class="glyphicon glyphicon-chevron-top">Up</a>
		</div> -->
		
 		<a id="back" class="scroll-top-wrapper" type="submit" href="#" >
 			<span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
 		</a>
	</div>

<script>
// Permet de cacher le lien tant que l'utilisateur ne "scroll" pas
$(function(){
 
	$(document).on( 'scroll', function(){
		if ($(window).scrollTop() > 100) {
			$('#back').addClass('show');
		} else {
			$('#back').removeClass('show');
		}
	});
 
	$('#back').on('click', scrollToTop);
});
</script>

{% endblock %}

