{% extends "bootstrap/base.html" %}
{% block title %} Spotifake {% endblock %}
{% block styles %}
{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
	<link rel="stylesheet" id="font-awesome-css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" type="text/css" media="screen">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="../static/jquery.validate.js"></script>

{% endblock %}

{% block navbar %}
	<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
	<div class="container" id="nav">
		<div class="navbar-header col-md-2" style="margin-right:-27px" id="brandL">
				<a class="navbar-brand" href="/">
				SPOTIFAKE</a>
		</div>
		{% if current_user.is_authenticated %}
			<div id="navbar" class="navbar-collapse collapse">			
				<form class="navbar-form navbar-left" role="search"  method="POST" action="{{ url_for('search') }}">
					{{ formu.hidden_tag() }}
					<div class="form-group" >{{ formu.recherche(size = 45, class_="form-control", placeholder="Type to search") }}</div>
					<button class="btn btn-default" type="submit" ><span class="glyphicon glyphicon-search"/></button>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li><p class="navbar-text">Welcome {{ current_user.username }}</p></li>
					<li><a href="{{ url_for('user_page') }}"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
					<li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
				</ul>
			</div>
		{% else %}
			<div id="navbar" class="navbar-collapse collapse navbar-right">
				<ul class="nav navbar-nav">
					<li><a class="btn btn-reverse" href="{{ url_for('register') }}"> 
					<span class="glyphicon glyphicon-user"></span> Sign up</a></li>
					<li><a class="btn btn-reverse" href="{{ url_for('login') }}"><span class="glyphicon glyphicon-log-in"></span> Log in</a></li>
					
				</ul>
			</div>
		{% endif %}
	</div>	
</nav>
{% endblock %}


{% block content %}
<div>
	{% if current_user.is_authenticated %}
	<div class="aside col-md-2">
		<h4>  Main </h4>
		<ul class="list-group">
			<li><a href="/albums"><span class=" glyphicon glyphicon-cd"></span>Albums</a></li>
			<li><a href="/artists"><span class=" glyphicon glyphicon-user"></span>Artists</a></li>
			<li><a href="/genres"><span class=" glyphicon glyphicon-music"></span>Genres</a></li>
			<li><a href="/sw"><span class=" glyphicon glyphicon-pencil"></span>Songwriters</a></li>
		</ul>
		<br>
		<h4>  Your Music </h4>
		<ul class="list-group">
			{% for x in plays %}
				<li><a href="/playlist/{{current_user.username}}/{{x.id}}"><span class=" glyphicon glyphicon-star-empty"></span>{{ x.title }} </a></li>
			{% endfor %}
		</ul>

	</div>
	{% endif %}
		<div id="main" class="container theme-showcase col-md-10 col-md-offset-2" role="main">
			{% block main %}{% endblock %}
		</div>
</div>
{% endblock %}
