{% extends "base.html" %}
{% block main %}
	<div id='title'>
		<h1>Edit Artist: {{ artist.name }}</h1>
	</div>
	<div class="sample">
		<form role="form"  method="POST" action="{{ url_for('save_artist') }}" >
			{{ form.hidden_tag() }}
			<div class={% if form.name.errors %}
			"form-group has-error"
			{% else %}
			"form-group"
			{% endif %}>
			{{ form.name.label }} {{ form.name(size = 50, class_="form-control") }}
			</div>
			{% if form.name.errors %}
			<ul class="list-group">
				{% for e in form.name.errors %}
				<li class="list-group-item list-group-item-danger">{{ e }}</li>
				{% endfor %}
			</ul>
			{% endif %}
		<input class="btn btn-success" type="submit" value="Enregistrer">
	</form>		
	</div>
{% endblock %}