{% extends "base.html" %}
{% block main %}
	<div id='title'>
		<h1>Edit Album: {{ album.title }}</h1>
	</div>
	<div class="sample">
		<form role="form"  method="POST" action="{{ url_for('save_album') }}" style="width:100%" >
			<div class="col-md-8">
				{{ form.hidden_tag() }}
				<div class={% if form.title.errors %}
				"form-group has-error"
				{% else %}
				"form-group"
				{% endif %}>
				{{ form.title.label }} {{ form.title(size = 50, class_="form-control") }}
				</div>
				{% if form.title.errors %}
				<ul class="list-group">
					{% for e in form.title.errors %}
					<li class="list-group-item list-group-item-danger">{{ e }}</li>
					{% endfor %}
				</ul>
				{% endif %}

				<div class={% if form.release_year.errors %}
				"form-group has-error"
				{% else %}
				"form-group"
				{% endif %}>
				{{ form.release_year.label }} {{ form.release_year(size = 50, class_="form-control") }}
				</div>
				{% if form.release_year.errors %}
				<ul class="list-group">
					{% for e in form.release_year.errors %}
					<li class="list-group-item list-group-item-danger">{{ e }}</li>
					{% endfor %}
				</ul>
				{% endif %}

				<div class={% if form.artist.errors %}
				"form-group has-error"
				{% else %}
				"form-group"
				{% endif %}>
				{{ form.artist.label }} {{ form.artist(size = 50, class_="form-control") }}
				</div>
				{% if form.artist.errors %}
				<ul class="list-group">
					{% for e in form.artist.errors %}
					<li class="list-group-item list-group-item-danger">{{ e }}</li>
					{% endfor %}
				</ul>
				{% endif %}

				<div class={% if form.sw.errors %}
				"form-group has-error"
				{% else %}
				"form-group"
				{% endif %}>
				{{ form.sw.label }} {{ form.sw(size = 50, class_="form-control") }}
				</div>
				{% if form.sw.errors %}
				<ul class="list-group">
					{% for e in form.sw.errors %}
					<li class="list-group-item list-group-item-danger">{{ e }}</li>
					{% endfor %}
				</ul>
				{% endif %}
				<input class="btn btn-success" type="submit" value="Enregistrer">
			</div>

			<div class="col-md-4">
				<div class={% if form.genre.errors %}
				"form-group has-error"
				{% else %}
				"form-group"
				{% endif %}>
				{{ form.genre.label }} {{ form.genre(size = 50, class_="form-control") }}
				</div>
				{% if form.genre.errors %}
				<ul class="list-group" id="genre_ed_alb">
					{% for e in form.genre.errors %}
					<li class="list-group-item list-group-item-danger">{{ e }}</li>
					{% endfor %}
				</ul>
				{% endif %}
			</div>

	</form>		
	</div>
{% endblock %}