{% extends "base.html" %}
{% block main %}
	{% if current_user.is_authenticated %}
		<div class="jumbotron">
		  <h1>Rock your Life !</h1>
		  <p>Create your own playlists, visit artist and album pages, and here's a sample of our albums</p>
		</div>
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				<li data-target="#carousel-example-generic" data-slide-to="3"></li>
				<li data-target="#carousel-example-generic" data-slide-to="4"></li>
			</ol>
		  <!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div id="slide" class="item active">
					<div class="inner-item">
					<img src="{{ url_for('static',filename='images/images/'+ albums[0].img) }}">
					<div class="carousel-caption">
						<h3>{{ albums[0].title }}</h3>
		    			<p>{{ albums[0].release_year }}</p>
					</div>
					</div>
				</div>

				{% for x in range(1,albums|length) %}
				<div class="item">
					<div class="inner-item">
						<img src="{{ url_for('static',filename='images/images/'+albums[x].img) }}" alt="Image not found">
						<div class="carousel-caption">
							<h3>{{ albums[x].title }}</h3>
			    			<p>{{ albums[x].release_year }}</p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>

		  <!-- Controls -->
			<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	{% else %}
		<div class="jumbotron" style="margin-right: 350px;">
		  <h1>Spotifake</h1>
		  <p>Bienvenue sur Spotifake, la contrefaçon bas-de-gamme de Spotify</p>
		  <p><a class="btn btn-primary btn-lg" href="{{ url_for('login') }}">Login</a></p>
		</div>
	{% endif %}
{% endblock %}


