{% extends "base.html" %}
{% block main %}
	<div id='title'>
		<h1>{{ artist.name }} <small> Artist</small></h1>
	</div>
	<br>
	<br>
	{% if god_user %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Admin Powers</h3>
			</div>
			<div class="panel-body">
				<ul>
					<li><a href="/edit/artist/{{ artist.id }}" title="Edit">Edit Artist</a></li>
					<li><a href="/artist/suppr/{{ artist.id }}" title="Edit">Delete Artist</a></li>
				</ul>
			</div>
		</div>
	{% endif %}
	<br>
	<br>
	{% if albums | length > 0 %}
	<div class="related_to">
		{% for x in albums %}
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<a href="/album/{{ x.id }}">
							{% if x.img != None %}
								<img src="{{ url_for('static',filename='images/images/'+x.img) }}"></a>
							{% else %}
								<img src="../static/images/untitled-1.png"></a>
							{% endif %}
						<div class="caption">
							<h3>{{ x.title }}</h3>
							<p>{{ x.release_year }}</p>
							{% for g in x.genre %}
							<a href="/genre/{{ x.id }}"><span class="label label-info">{{ g.name }}</span></a>
							{% endfor %}
						</div>
					</div>
				</div>
		{% endfor %}		
	</div>
	{% else %}
		<div class="alert alert-info">
			No albums related
		</div>
	{% endif %}
{% endblock %}