{% extends "base.html" %}
{% block main %}
	<div id='title'>
		<h1>{{ album.title }} <small> by {{ artist.name }}</small> </h1>
	</div>
	{% if album.img != None %}
		<img src="{{ url_for('static',filename='images/images/'+album.img) }}"></a>
	{% else %}
		<img src="../static/images/untitled-1.png"></a>
	{% endif %}
	<div class="related_to">
		<h4> Songwriter </h4>
		<p>{{ sw.name }}</p>
		<h4> Release </h4>	
		<p>{{ album.release_year }}</p>
		<h4> Genre </h4>
		{% for x in album.genre %}
			<a href="/genre/{{ x.id }}"><span class="label label-info">{{ x.name }}</span></a>
		{% endfor %}	
	</div>
	<br>
	<br>
	<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#atp_modal">Add to playlist</button>
	{% if god_user %}
		<br>
		<br>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Admin Powers</h3>
			</div>
			<div class="panel-body">
				<a href="/edit/album/{{ album.id }}" title="Edit">Edit Album</a>
			</div>
		</div>
	{% endif %}
	<div class="modal fade" id="atp_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Choose the playlist</h4>
				</div>
				<div class="modal-body">
				{% if playlists != None %}
					{% for x in playlists %}
						<li class="list-group-item"><a href="/adding/album/{{ x.id }}/{{ album.id }}">{{ x.title }}</a></li>
					{% endfor %}
				{% else %}
					<p>Pas de Playlists</p>
				{% endif %}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

