{% extends "base.html" %}
{% block main %}
	<div id='title'>
		<h1>{{ genre.name }} <small> Genre</small></h1>
	</div>

	<br>
	{% if genre.album | length > 0 %}
	<div class="related_to">
		{% for x in genre.album %}
			<div class="col-md-4">
				<div class="thumbnail">
					<a href="/album/{{ x.id }}">
					{% if x.img != None %}
						<img src="{{ url_for('static',filename='images/images/'+x.img) }}"></a>
					{% else %}
						<img src="../static/images/untitled-1.png"></a>
					{% endif %}
					<div class="caption">
						<h3>{{ x.title }}</h3>
						<p>{{ x.release_year }}</p>
						{% for g in x.genre %}
						<a href="/genre/{{ g.id }}"><span class="label label-info">{{ g.name }}</span></a>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endfor %}		
	</div>
	{% else %}
		<div class="alert alert-info">
			No albums related
		</div>
	{% endif %}
{% endblock %}