{% extends "base.html" %}
{% block main %}
	<div id='title'>
		<h1>{{ playlist.title }}</h1>
	</div>
	<table class="table table-striped">
	{% if playlist.alb | length > 0 %}
		{% for x in playlist.alb %}
			<tr>
				<td>
					<div class="media">
						<div class="media-left">
							<a href="/album/{{ x.id }}">
							{% if x.img != None %}
								<img class="media-object" src="{{ url_for('static',filename='images/images/'+x.img) }}" style="max-width:70px;max-height:70px;">
							{% else %}
								<img src="../static/images/untitled-1.png" style="max-width:70px;max-height:70px;">
							{% endif %}
							</a>
						</div>
						<div class="media-body">
							<h3 class="media-heading">{{ x.title }}</h3>
							<p>{{ x.release_year }}</p>
						</div>
					</div>
				</td>
				<td><a class="btn btn-default" href="/remove/album/{{ playlist.id }}/{{ x.id }}" role="button"><span class="glyphicon glyphicon-remove"/></a></td>
			</tr>
		{% endfor %}
	{% else %}
		<div class="alert alert-info">
			You don't have any songs in this playlist !
		</div>
	{% endif %}
	</table>
{% endblock %}

