{% extends "base.html" %}
{% block main %}
<form class="form-horizontal" role="form" method="POST" action="{{ url_for('register') }}" id="fo" style="margin-right: 400px;">
	{{ form.hidden_tag() }}

	
	<div class="form-group">
		<h3>Register</h3>
		<br>
		<label for="username" class="col-sm-2 control-label"> {{ form.username.label }} </label>
		<div class="col-sm-8"> {{ form.username(size=50, class_="form-control", placeholder="Username", minlength="2", id="log" ) }}</div>
	</div>
	<div class="form-group">
		<label for="password" class="col-sm-2 control-label"> {{ form.password.label }} </label>
		<div class="col-sm-8"> {{ form.password(size=50, class_="form-control", placeholder="Password", minlength="6", id="pass" ) }}</div>
	</div>

	<div class="form-group">
	
		<div class="col-sm-offset-2 col-sm-10">
			<button id="reg" type="submit" class="btn btn-default">Register</button>
		</div>
	
	</div>
</form>


<script type="text/javascript">
    $("#fo").validate();
</script>

<script >
 $(document).ready(function(){
    $('#reg').attr('disabled',true);
    $('#log').keyup(function(){
        if($(this).val().length >=2)
            $('#reg').attr('disabled', false);            
        else
            $('#reg').attr('disabled',true);
    })
 });

</script>
{% endblock %}