{% extends "base.html" %}
{% block main %}

	<div id='title'>
	<h1>Results </h1>
	</div>

	<br>
	<br>

	<ul class="nav nav-tabs" role="tablist">
	    <li role="presentation" class="active"><a href="#albums" aria-controls="albums" role="tab" data-toggle="tab">Albums <span class="badge">{{ albums|length }}</span></a></li>
	    <li role="presentation"><a href="#artists" aria-controls="artists" role="tab" data-toggle="tab">Artists <span class="badge">{{ artist|length }}</span></a></li>
	    <li role="presentation"><a href="#genres" aria-controls="genres" role="tab" data-toggle="tab">Genres <span class="badge">{{ genre|length }}</span></a></li>
	    <li role="presentation"><a href="#songwriters" aria-controls="songwriters" role="tab" data-toggle="tab">Songwriters <span class="badge">{{ songwritters|length }}</span></a></li>
	</ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="albums">
    	<table class="table table-striped">
	    	<tr>
	    		<th>Title</th>
	    		<th>Release year</th>
	    	</tr>
	    	{% for x in albums %} 
	    	<tr>
	    		<td><a href="/album/{{ x.id }}">{{ x.title }}</a></td>
	    		<td>{{ x.release_year }}</td>
	    	</tr>
	    	{% endfor %}
		</table>
    </div>
    <div role="tabpanel" class="tab-pane" id="artists">
    	<table class="table table-striped">
	    	{% for x in artist %} 
	    	<tr>
	    		<td><a href="/artist/{{ x.id }}">{{ x.name }}</a></td>
	    	</tr>
	    	{% endfor %}
		</table>
    </div>
    <div role="tabpanel" class="tab-pane" id="genres">
    	<table class="table table-striped">
	    	{% for x in genre %} 
	    	<tr>
	    		<td><a href="/genre/{{ x.id }}">{{ x.name }}</a></td>
	    	</tr>
	    	{% endfor %}
		</table>
    </div>
    <div role="tabpanel" class="tab-pane" id="songwriters">
    	<table class="table table-striped">
	    	{% for x in songwritters %} 
	    	<tr>
	    		<td><a href="/sw/{{ x.id }}">{{ x.name }}</a></td>
	    	</tr>
	    	{% endfor %}
		</table>
  </div>

		

{% endblock %}
