{% extends "base.html" %}
{% block main %}
	<div class="jumbotron">
		  <h1>{{ title }}</h1>
	</div>
	<br>
	<br>
	<div class="all_list">
		<div class="col-md-4">
			<ul class="list-group">
			{% for x in range(1,sw|length//3) %}
				<li class="list-group-item"><a href="/sw/{{ sw[x].id }}"> {{ sw[x].name }} </a></li>
			{% endfor %}
			</ul>
		</div>
		<div class="col-md-4">
			<ul class="list-group">
			{% for x in range(sw|length//3,(sw|length//3)*2) %}
				<li class="list-group-item"><a href="/sw/{{ sw[x].id }}"> {{ sw[x].name }} </a></li>
			{% endfor %}
			</ul>
		</div>
		<div class="col-md-4">
			<ul class="list-group">
			{% for x in range((sw|length//3)*2,sw|length) %}
				<li class="list-group-item"><a href="/sw/{{ sw[x].id }}"> {{ sw[x].name }} </a></li>
			{% endfor %}
			</ul>
		</div>
		
	</div>
{% endblock %}