{% extends "base.html" %}
{% block main %}

	<ul class="nav nav-tabs" role="tablist">
	    <li role="presentation" class="active"><a href="#playlist" aria-controls="playlist" role="tab" data-toggle="tab"><h5>Playlist</h5></a></li>
	    <li role="presentation"><a href="#user" aria-controls="user" role="tab" data-toggle="tab"><h5>User</h5></a></li>
	    {% if god_user %}
	    	<li role="presentation"><a href="#create" aria-controls="create" role="tab" data-toggle="tab"><h5>Create</h5></a></li>
	    {% endif %}
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="playlist">
			<form role="form"  method="POST" action="{{ url_for('save_playlist') }}" class="form-inline">
				{{ form.hidden_tag() }}
				<label for="exampleInputName2">New Playlist</label>
				<div class="form-group" >{{ form.title(size = 50, class_="form-control") }}</div>
				<button class="btn btn-default" type="submit" ><span class="glyphicon glyphicon-ok"/></button>
			</form>	

			<br>
			<br>

			<h3>Your playlists</h3>
			{% if plays | length > 0 %}
			<table class="table table-striped">			
				{% for x in plays %}
				<tr>
					<td><a href="/playlist/{{ current_user.username }}/{{ x.id }}">{{ x.title }}</a></td>
					<td><a class="btn btn-default" href="/playlist/suppr/{{ x.id }}" role="button"><span class="glyphicon glyphicon-remove"/></a></td>
				</tr>
				{% endfor %}
			</table>
			{% else %}
			<div class="alert alert-info">
				No Playlist
			</div>
			{% endif %}
		</div>


		<div role="tabpanel" class="tab-pane" id="user">			
			<div class="panel panel-default" style="width:300px">
				<div class="panel-heading">Account Type</div>
				<div class="panel-body">{{ current_user.role }}</div>
			</div>			
		</div>

		{% if god_user %}
		<div role="tabpanel" class="tab-pane" id="create">
			<div class="btn-group btn-group-justified" role="group">
				<div class="btn-group" role="group">
				<button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#artist_modal">Artist</button>
				</div>

				<div class="btn-group" role="group">
				<button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#genre_modal">Genre</button>
				</div>

				<div class="btn-group" role="group">
				<button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target="#sw_modal">Songwriter</button>
				</div>

				<div class="btn-group" role="group">
				<button type="button" class="btn btn-warning btn-lg btn-block" data-toggle="modal" data-target="#album_modal">Album</button>
				</div>
			</div>


			<div class="modal fade" id="artist_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">Create Artist</h4>
							</div>
							<div class="modal-body">
								<form role="form"  method="POST" action="{{ url_for('create_artist') }}">
									<div class={% if artF.name.errors %}
									"form-group has-error"
									{% else %}
									"form-group"
									{% endif %}>
										{{ artF.name.label }} {{ artF.name(size = 50, class_="form-control") }}
									</div>
									{% if artF.name.errors %}
									<ul class="list-group">
										{% for e in artF.name.errors %}
										<li class="list-group-item list-group-item-danger">{{ e }}</li>
										{% endfor %}
									</ul>
									{% endif %}
									<input class="btn btn-default" type="submit" value="Enregistrer">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="sw_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">Create Songwriter</h4>
							</div>
							<div class="modal-body">
								<form role="form"  method="POST" action="{{ url_for('create_sw') }}">
									<div class={% if swF.name.errors %}
									"form-group has-error"
									{% else %}
									"form-group"
									{% endif %}>
										{{ swF.name.label }} {{ swF.name(size = 50, class_="form-control") }}
									</div>
									{% if swF.name.errors %}
									<ul class="list-group">
										{% for e in swF.name.errors %}
										<li class="list-group-item list-group-item-danger">{{ e }}</li>
										{% endfor %}
										</ul>
										{% endif %}
									<input class="btn btn-default" type="submit" value="Enregistrer">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="genre_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">Create Artist</h4>
							</div>
							<div class="modal-body">
								<form role="form"  method="POST" action="{{ url_for('create_genre') }}">
									<div class={% if genF.name.errors %}
									"form-group has-error"
									{% else %}
									"form-group"
									{% endif %}>
										{{ genF.name.label }} {{ genF.name(size = 50, class_="form-control") }}
									</div>
									{% if genF.name.errors %}
									<ul class="list-group">
										{% for e in genF.name.errors %}
										<li class="list-group-item list-group-item-danger">{{ e }}</li>
										{% endfor %}
										</ul>
										{% endif %}
									<input class="btn btn-default" type="submit" value="Enregistrer">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="album_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="myModalLabel">Create Album</h4>
							</div>
							<div class="modal-body">
								<form role="form"  method="POST" action="{{ url_for('create_album') }}">
									<div class={% if albF.title.errors %}
									"form-group has-error"
									{% else %}
									"form-group"
									{% endif %}>
										{{ albF.title.label }} {{ albF.title(size = 50, class_="form-control") }}
									</div>
									{% if albF.title.errors %}
									<ul class="list-group">
										{% for e in albF.title.errors %}
										<li class="list-group-item list-group-item-danger">{{ e }}</li>
										{% endfor %}
									</ul>
									{% endif %}
									<div class={% if albF.release_year.errors %}
									"form-group has-error"
									{% else %}
									"form-group"
									{% endif %}>
										{{ albF.release_year.label }} {{ albF.release_year(size = 50, class_="form-control") }}
									</div>
									{% if albF.release_year.errors %}
									<ul class="list-group">
										{% for e in albF.release_year.errors %}
										<li class="list-group-item list-group-item-danger">{{ e }}</li>
										{% endfor %}
									</ul>
									{% endif %}

									<div class={% if albF.artist.errors %}
									"form-group has-error"
									{% else %}
									"form-group"
									{% endif %}>
										{{ albF.artist.label }} {{ albF.artist(size = 50, class_="form-control") }}
									</div>
									{% if albF.artist.errors %}
									<ul class="list-group">
										{% for e in albF.artist.errors %}
										<li class="list-group-item list-group-item-danger">{{ e }}</li>
										{% endfor %}
									</ul>
									{% endif %}

									<div class={% if albF.sw.errors %}
									"form-group has-error"
									{% else %}
									"form-group"
									{% endif %}>
										{{ albF.sw.label }} {{ albF.sw(size = 50, class_="form-control") }}
									</div>
									{% if albF.sw.errors %}
									<ul class="list-group">
										{% for e in albF.sw.errors %}
										<li class="list-group-item list-group-item-danger">{{ e }}</li>
										{% endfor %}
									</ul>
									{% endif %}

									<div class={% if albF.genre.errors %}
									"form-group has-error"
									{% else %}
									"form-group"
									{% endif %}>
									{{ albF.genre.label }} {{ albF.genre(size = 50, class_="form-control") }}
									</div>
									{% if albF.genre.errors %}
									<ul class="list-group" id="genre_ed_alb">
										{% for e in albF.genre.errors %}
										<li class="list-group-item list-group-item-danger">{{ e }}</li>
										{% endfor %}
									</ul>
									{% endif %}
									<input class="btn btn-default" type="submit" value="Enregistrer">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
	</div>

{% endblock %}